.navbar{
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #050505;
}
mat-icon{
    cursor:pointer;
    color: #fff;
}
.side-icon{
    color: #fff
}
a{
    color: #fff
}

mat-sidenav{
    width: 200px;
    cursor: pointer;
    background: #221f3b;
    position: fixed;
    top: 55px;
    z-index: 1000;
}