<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form #loginForm="ngForm" (ngSubmit)="auth(loginForm)">
            <p>
                <mat-form-field>
                    <input type="email" name="email" [(ngModel)]="user.email" matInput placeholder="Email">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="password" name="password" [(ngModel)]="user.password" matInput placeholder="Password"/>
                </mat-form-field>
            </p>
            <button type="submit" [disabled]="!loginForm.form.valid" mat-raised-button color="primary">Login</button>
        </form>
    </mat-card-content>
</mat-card>