.post-card{
    background: #f5efef ;
    color: ;
    width: 80%;
    margin: 1% auto;
    padding: 2%;
    border-radius: 0;

}

.mat-card-title{
    font-size: 2rem;
    text-transform: uppercase;
  

}
.card-img{
    width: 80%;
    clear:both;
    border-radius: 6px;
    text-align: center;
    display: block;
    margin: 6px auto;
}

.mat-card-content{
    width:80%;
    text-align: center;
    margin: 0 auto;

}

p.content{
    text-align: initial;
}