<mat-toolbar >
  <mat-toolbar-row class="first-row">
    
  </mat-toolbar-row>
  <mat-toolbar-row class="toolbar">
  <span style="font-size: 60px; color: #C30E2E;"><i class="fab fa-angular"></i></span>
    <a class="brand" routerLink="/">Blog</a>
    <span class="fill-remaining-space"></span>
    <a routerLink="/admin" routerLinkActive="active" >
      <button mat-button color="warn">Admin</button>
    </a>
  
    <a routerLink="/about" routerLinkActive="active">
      <button mat-button color="warn">About</button>
    </a>
  
    <a >
      <button mat-button color="warn">Login</button>
    </a>
  </mat-toolbar-row>
    
  </mat-toolbar>
